<p>Do you have a question about the PlantRight Spring Nursery Survey? Read through our Frequently Asked Questions to find the answers you're looking for! If you have additional questions, please contact Greg Richardson at <%= mail_to "grichardson@suscon.org" %>.</p>

<h1>PlantRight Spring Nursery Survey FAQ</h1>
<br />
Why should I participate in the survey?<br />
How long does it take to complete the survey?<br />
Can I choose any nursery in my county?<br />
What if there aren’t any nurseries left in my county to survey?<br />
Why are there only 19 invasive plants on the PlantRight list?<br />
When is the best time to visit the nurseries in my county?<br />
How many invasive plant species can I expect to find in one store?<br />
What should I say if I’m approached by a store employee?<br />
Why does PlantRight do with the survey results?<br />
What is a “Cultivar”?<br /><br />
 
<h1>PlantRight Spring Nursery Survey FAQ </h1>
<br />
<h3>1.  Why should I participate in the survey? </h3>

<p>This survey will be pivotal in guiding PlantRight’s efforts to help the horticulture industry phase out the sale of invasive plants in California. Invasive plants are the second greatest threat to biodiversity worldwide and more than half of the invasive plants found in California originally arrived through gardens and landscaping. Your participation in this survey will help our work with the nursery industry, help to preserve California’s native biodiversity and provide an opportunity for you to learn about the plants that are invasive in your area. </p>
 
<h3>2.  How long does it take to complete the survey? </h3>
 
<p>Completing the survey will likely take between 45 and 90 minutes. This depends on the size of the store, how their plants are organized and how well the plants are labeled. We’ve created a Plant ID Guide and Survey Instructions to bring with you to make the survey easier to complete.</p>  

<h3>3.  Can I choose any nursery in my county?  </h3>

<p>PlantRight randomly selects nurseries across the state to survey each year. Master Gardeners can choose from the list of nurseries that have been selected in their county or region for that year. We randomly select nurseries to get an idea of which invasive plants are sold in each county, and are specifically avoiding targeting particular nurseries. </p>

<h3>4.  What if there aren’t any nurseries left in my county to survey? </h3>

<p>There are a limited number of nurseries being surveyed in each county so please sign up early to get your top choice. If there are no nurseries left in your county to survey, you may check your neighboring counties for nurseries to survey within a reasonable driving distance.  If you are not able to participate this year please try again next year! </p>

<h3>5.  Why are there only 19 invasive plants on the PlantRight list?</h3>

<p>You may wonder why a particular invasive plant (like yellow star thistle or tree-of-heaven) isn’t on our list. PlantRight is targeting only invasive plants currently sold through the nursery trade in California. Plants introduced though other means (hay contaminants, etc…) are not included on the PlantRight list.  </p>

<h3>6.  When is the best time to visit the nurseries in my county? </h3>

<p>Nurseries will start to receive their “spring shipments” in San Diego earlier than they will around Lake Tahoe. Therefore, the spring season starts at different times depending on where you live in the state. If you live in Southern California we recommend getting an early jump and trying to complete the PlantRight Spring Nursery Survey in early April. For those in the Northern California, waiting until mid to late April is probably preferred. For those living in the Sierra Mountains, however, it may be best to wait until late April to early May. </p>

<h3>7.  How many plants from the PlantRight list are found in each store?</h3>

<p>PlantRight lists 19 invasive plants on our list but you can expect to find 3-4 plants in each store you survey. We hope you don’t find any!  </p> 

<h3>8.  What should I say if I’m approached by a store employee? </h3>

<p>We expect and require our survey volunteers to be courteous and respectful to the store staff at all times. If approached by a staff person, you can tell them: </p>
<p><em>“I am participating in a statewide survey looking at the market for invasive plant species in California. The program is a collaborative effort between the nursery industry, government agencies, scientists and environmental groups. We are not targeting specific stores or companies  but are gathering  information to better understand the issue. No information about the stores we survey will be made public.”</em></p>

<p>Please feel free to leave a PlantRight brochure with the staff person and tell them they can contact us directly with any questions. We require that nursery survey volunteers refrain from ever engaging in a confrontational dialogue with staff over the issue of invasive plants. Our program seeks to work collaboratively with the nursery industry and these types of interactions promote distrust, and rightly so. Please contact us immediately if you encounter any problems. </p>

<h3>9.  What does PlantRight do with the survey data?</h3>

<p>Information from this survey will be analyzed and interpreted for internal purposes by PlantRight and the California Horticultural Invasives Prevention (Cal-HIP), a collaborative partnership between the nursery industry, scientists, government agencies, and environmental groups. The results of this survey will be used to obtain general information about the retail market for invasive plants in California. PlantRight is seeking to learn which of the 19 invasive plant species on our list are currently sold in 5 different regions of California.</p>



<p>PlantRight will not use the survey data to implicate any specific nurseries or businesses. The names of nurseries surveyed will not be made public, only the types of stores we surveyed (box store, large retailer and small retailer) that year. Each year we will randomly select new nurseries to survey to avoid targeting specific businesses in the survey. </p>

<h3>10.  What is a “Cultivar”?</h3>  
<p>A cultivar is a genetic modification of an existing plant, or a category of subspecies. There are cultivars available for most commercially produced plants but not all species. The name of the cultivar is usually found on a plant’s label in single quotes, often just after the latin species name  (e.g. Cortaderia selloana 'Rosea'). See photo for the example of a plant label showing the 'Bressingham Hybrid' cultivar of Heuchera x brizoides.</p>