<h1>The PlantRight Spring Nursery Survey Instructions</h1>

<p>Please review the following instructions before completing the PlantRight Spring Nursery Survey.  They will show you how to successfully complete the nursery survey.  Tips, suggestions and an example of a filled-out survey form are provided to make your experience go as smoothly as possible. We suggest that you bring this survey with you to the store. The Survey Instructions are detailed below or can be downloaded as a PDF.</p>

<h3>Step 1 - Sign up! Select a nursery to survey</h3>  
<ul>
	<li>Review the List of Nurseries to Survey to see which nurseries in your county still need to be surveyed.</li>
	<li>Go to the Nursery Survey Sign Up Sheet to register for the nursery in your county (or adjacent county) you would like to survey. Once you have submitted your choice of nursery to survey, you will receive a confirmation email within 24 hours.</li>
	<li>Once you sign up you will have two weeks to complete the survey. After two weeks it will become available again to other volunteers.</li>
</ul>

<h3>Step 2 - Gather the survey materials to prepare for nursery visit</h3>
<ul>
	<li>Print the Survey Form and Plant ID Guide.</li>
	<li>Gather survey materials listed on the Survey Form.</li>
	<li>Print out address and directions to the nursery location you are visiting.</li>
	<li>Call nursery to verify location and store hours.</li>
	<li>Review the Frequently Asked Questions before visiting the nursery. The FAQ is designed to help address some of the questions that you may have about conducting the survey.</li>
</ul>

<h3>Step 3 – Visit the nursery location</h3>
<ul>
	<li>Figure out how the nursery is organized so that you know where to look for certain plants (note: the survey is categorized by growth form).</li>
	<li>The survey form lists only outdoor, perennial and non-edible plants, save time by dismissing all other plants from your search.</li>
	<li>Labels containing the plant names can be found on the container, on tag sticking in the soil, or on tag tied to its branch.</li>
	<li>Note: it is very possible that none of the plants on the PlantRight list will be sold at the store you are visiting.  Please record this as well, as this information is still very important!</li>
</ul>

<h3>Step 4 – Fill out <%= link_to "the survey form", :controller => survey, :action => survey_download %></h3>
<ul>
	<li>Once you find an invasive plant listed on the survey form record the following information from the plant label and store signage:</li>
	<ul>
		<li>Name of Grower = list the name of the grower on the plant tag or label (see examples below)</li>
		<li>Price / Size = list the cost of the plant and the size of the container (ie. 1 gal or 6-pack)</li>
		<li>Common name = list the common name of the plant (ie. Pampas grass). This will be in English, not latin.</li>
		<li>Scientific name = list the scientific name of the plant (ie. Cortaderia selloana). The latin genus and species, usually in italics.</li>
		<li>Cultivar name = list the cultivar name of the plant (ie. ‘Ivory Feathers’).  Some plants may not have a cultivar name. Cultivar names are commonly in single quotations (e.g. Cortaderia selloana ‘Ivory Feathers’).</li>
		<li>Related Plants = List any plants you find that are in the same genus as plants on the PlantRight list.</li>
		<li># For Sale = List how many of this plant are for sale.</li>
	</ul>
	<li>Take a photo of the plant and another close-up photo of the plants’ label(s) for verification purposes.</li>
</ul>

<h3>Step 5 – Submit your results</h3>
<ul>
	<li>Submit results online