<h1>The PlantRight Spring Nursery Survey Instructions</h1>

<p>Please review the following instructions before completing the PlantRight Spring Nursery Survey.  They will show you how to successfully complete the nursery survey.  Tips, suggestions and an example of a filled-out survey form are provided to make your experience go as smoothly as possible. We suggest that you bring this survey with you to the store. The Survey Instructions are detailed below or can be downloaded as a PDF.</p>

<h3>Step 1 - Sign up! Select a nursery to survey</h3>  
<ul>
	<li>Review the List of Nurseries to Survey to see which nurseries in your county still need to be surveyed.</li>
	<li>Go to the Nursery Survey Sign Up Sheet to register for the nursery in your county (or adjacent county) you would like to survey. Once you have submitted your choice of nursery to survey, you will receive a confirmation email within 24 hours.</li>
	<li>Once you sign up you will have two weeks to complete the survey. After two weeks it will become available again to other volunteers.</li>
</ul>

<h3>Step 2 - Gather the survey materials to prepare for nursery visit</h3>
<ul>
	<li>Print the Survey Form and Plant ID Guide.</li>
	<li>Gather survey materials listed on the Survey Form.</li>
	<li>Print out address and directions to the nursery location you are visiting.</li>
	<li>Call nursery to verify location and store hours.</li>
	<li>Review the Frequently Asked Questions before visiting the nursery. The FAQ is designed to help address some of the questions that you may have about conducting the survey.</li>
</ul>

<h3>Step 3 – Visit the nursery location</h3>
<ul>
	<li>Figure out how the nursery is organized so that you know where to look for certain plants (note: the survey is categorized by growth form).</li>
	<li>The survey form lists only outdoor, perennial and non-edible plants, save time by dismissing all other plants from your search.</li>
	<li>Labels containing the plant names can be found on the container, on tag sticking in the soil, or on tag tied to its branch.</li>
	<li>Note: it is very possible that none of the plants on the PlantRight list will be sold at the store you are visiting.  Please record this as well, as this information is still very important!</li>
</ul>

