<% if current_user.has_passed_quiz %>

<h3>You passed.  <%= link_to "Survey Information.", survey_participants_path %> </h3>

<% else %>

<h3>Sorry Charlie... you should crack the books before you <%= link_to "try again", quiz_path %>.</h3>

<% end %>